/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-22-2021, 04:13:36 PM
    Author     : Nemy
*/

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover{
          
    background: #32B7B4;
            
}

h1, h2, h3, h4, h5, h6, p{
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.firstBody, .menu{
    margin: 0%; padding: 0%
}

.title, .image{
    display: inline-block
}

.title{
    text-align: left;
    padding-top: 1.4%;
    width: 80%;
}

.titleH1{
    font-family: sans-serif;
}

.titleH3{
    color: #68717A;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.title-opciones{
    font-family: sans-serif;
    font-weight: bold;
    color: #152536;
    font-size: 18pt;
}

.welcome{
    padding-top: 2%;
    width: 80%;
    margin: auto;
    text-align: center;
}

.styleImageHeader{
    width: 59%;
}

.image{
    padding-bottom: 2.7%;
    padding-top: 0.1%;
}

.styleImage{
    width: 100%;
    margin-top: -0.5%;
    margin-bottom: -13.1%;
}

.ui-divider.ui-divider-solid.ui-divider-horizontal:before{
    width: 94.5%;
    margin-left: 0.7%;
}

.imgLogin, .formLogin{
    display: inline-block
}

.divLogin{
    text-align: center;
    margin-top: 3%;
}

.formLogin{
    width: 27%; 
    margin:auto; 
    margin-bottom: 3.5%;
}

.gridField{
    text-align: left; width: 91%
}

.h3User{
    font-family: sans-serif;
    font-weight: normal;
}

.inputTextUser{
    width: 98.2%;
}

.h3Password{
    font-family: sans-serif;
    font-weight: normal;
}

.panelGridButtons{
    width: 91.2%;
    text-align: left;
}

.hrefForgetPassword{
    margin-left: 2%;
    font-family: sans-serif;
}

.opciones{
    border: 1px solid #DEE2E6;
   box-sizing: border-box;
   border-radius: 4px;
   height: 465px;
}
.info-opciones{
   position: relative;
   top: 50px;
}

#mensaje{
    text-align: left;
}

@media screen and (max-width:480px){
    .firstBody{
        background-color: red;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) { 
    .firstBody{
        background-color: blue;
    }
}